body {
  background-color: #24292e;
}

.box {
  color: #e85f61;
  font-family: Amatic SC;
  font-size: 2rem;
}

.circle {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  color: black;
  background: #e85f61;
  margin: 1rem auto;
  text-align: center;
  line-height: 4rem;
}

.start {
  font-family: Amatic SC;
}
