* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: Amatic SC; */
}

body {
  background: #24292e;
}

.box {
  color: #e85f61;
  font-size: 10rem;
}

.circle {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  color: black;
  font-size: 8rem;
  background: #e85f61;
  margin: 2rem auto;
  text-align: center;
  line-height: 15rem;
}

.btn {
  padding: 0rem 2rem;
  margin: 0rem 1rem;
}
